@import url('https://fonts.googleapis.com/css?family=Raleway')
* 
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-size: 16px
  line-height: 1.8em
  font-family: 'Raleway', sans-serif

header, main, footer 
  margin: 0 auto

header
  padding: 2rem
  text-align: center
  background: linear-gradient(180deg, hsl(200, 100%, 50%), hsl(200, 80%, 20%))

  section.icons a
    font-size: 2rem
    color: #f2f2f2
    margin: 0.5rem 0.5rem 1rem
    text-decoration: none

  section.about p
    margin: 0 auto
    max-width: 640px
    color: #f2f2f2
    
  img
    height: 150px
    width: 150px
    border-radius: 50%
    border: 2px solid #f2f2f2

  h1
    margin: 1rem 0
    color: #f2f2f2
    font-size: 2rem
    text-transform: uppercase
  
main
  max-width: 1140px

  h3 
    margin-top: 2rem
    font-size: 2rem
    font-weight: bold
    text-transform: uppercase

  section 
    border-bottom: 1px solid #333
    padding: 1rem 2rem
    margin: 0 2rem

    &:last-child
      border-bottom: 0

  article
    padding: 1rem

  .course
    display: flex
    flex-wrap: wrap

    .title 
      flex: 0 0 33.3%
      max-width: 33%
      color: hsl(200, 100%, 50%)

    .descrition 
      flex: 0 0 66.6%
      max-width: 66.6%

      p 
        padding-left: 1rem
        
  .skills
    display: flex
    flex-wrap: wrap

    .column
      padding: 1rem
      flex: 0 0 33.33%
    
    ul
      margin: 0
      list-style-type: none

      li 
        padding-left: 1.5rem
      
      &.list-dashed li:before
        content: "►"
        padding-right: 0.5rem
        color: hsl(200, 100%, 50%)

    h4 
      margin-bottom: 10px

  .school 
    font-size: 1.6rem
    font-weight: bold

    span
      font-size: 1.2rem
      padding-right: 6px
      font-style: italic
      color: hsl(200, 100%, 50%)

  .description
    margin-left: 1rem

footer
  padding: 1rem
  color: #f2f2f2
  text-align: center
  background: linear-gradient(180deg, hsl(200, 100%, 50%), hsl(200, 80%, 20%))